:root{
    --dark-color: rgb(153, 70, 216);
    --color: #9549F5;
    --bright-color: #DFACF1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Snell';
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.button {
    background-color: var(--dark-color);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 3%;
    font-family: 'Rye', cursive;
}

/*----Navigation bar----*/
.nav-bar {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 4.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    flex: auto;
    display: flex;
    align-items: center;
    color: #0547F1;
}

.nav-bar a {
    flex: 1;
    padding: 1%;
    color: var(--dark-color);
}

.nav-bar a:hover {
    color: black;
}

/*----Search section----*/
.search-bar {
    display: flex;
    justify-content: space-around;
    background-color: #FDF7FF;
    padding: 5rem;
}

.search-bar h1 {
    font-family: 'Rye', cursive;
    font-size: 3rem;
    color: var(--dark-color);
    text-align: center;
    width: 40%;
}

.search-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.search-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: var(--dark-color);
    font-size:1.5rem;
    background-color: var(--bright-color);
    padding: 20% 5%;
    text-align: left;
    line-height: 1.5rem;
    grid-row-gap: 2rem;
    width: 90%;
    justify-self: center;
}

.search-details input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.search-section h3 {
    font-family: 'Rye', cursive;
    font-size: 2rem;
    color: white;
    background-color: var(--color);
    padding: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px; 
}

/*----Why us section----*/
#WhyUs {
    background-color: var(--dark-color);
    padding: 5rem;
    color: white;
}
#WhyUs h2 {
    font-family: 'Rye', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.reasons-why {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.reason {
    width: 20%;
    color: var(--bright-color);
    background-color: var(--color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 3%;
}

.reason h4 {
    color: white;
    font-family: 'Rye', cursive;
    font-size: 1.5rem;
}

/*----About us----*/
#About {
    padding: 5rem;
    color: var(--dark-color);
}

#About h2 {
    font-family: 'Rye', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px solid var(--bright-color);
}

/*----Team----*/
#Team {
    padding: 5rem;
    background-color: var(--dark-color);
}

#Team h2 {
    font-family: 'Rye', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}

.member {
    width: 90%;
    padding: 3%;
}

.member p {
    color: var(--dark-color);
    background-color: white;
    padding: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.member img {
    height: 150px;
}

.member span {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
}

/*----Contact----*/
#Contact {
    padding: 5rem;
    color: var(--dark-color);
}

#Contact h2 {
    font-family: 'Rye', cursive;
    font-size: 2.5rem;
    text-align: center;
}

#Contact h3 {
    font-family: 'Rye', cursive;
    font-size: 2rem;
    text-align: center;
}

.contact-form {
    width: 30%;
    display:flex;
    flex-direction: column;
    color: white;
    margin: auto;
}

.contact-email, .contact-message {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    border: 3px solid var(--color);
    padding: 5%;
    margin: 2%;
}

/*----Footer----*/
footer {
    background-color: var(--dark-color);
    color: white;
    display: flex;
    justify-content: justify;
    width: 100%;
    padding: 1.5%;
    text-align: center;
}

footer p {
    width: 30%;
    flex: 1;
}

/* Car order */

.order-page{
    margin: 0 auto;
    text-align: center;
}

.order-page .order-page-form{
        width: 600px;
        height: 700px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 50px auto;
        background-color: var(--dark-color);
        padding-bottom: 30px;
        border-radius: 15px;
        box-shadow: rgb(110, 110, 110) 10px 5px;

}

.order-page .order-page-form h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.order-page .order-page-form label{
    width: 50px;
}

.order-page .order-page-form div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-page .order-page-form div p, select{
    width: 150px;
    align-items: center;
    text-align: left;
}

.order-page .order-page-form div select{
    height: 30px;
}

.order-page .order-page-form div p{
    font-size: 20px;
    font-weight: 600;
}

.order-page .order-page-form button{
    font-weight: 600;
    margin-top: 30px;
    background-color: white;
    height: 40px;
    width: 100px;
    border: 3px solid white;
    border-radius: 6px;
}
